<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="amigos.com.conexionarduino" >

    <uses-feature android:name="android.hardware.usb.host" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name=".ui.DropsetActivity"
            android:label="@string/title_activity_dropset"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".ui.PosNegActivity"
            android:label="@string/title_activity_pos_neg"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".ui.NegativeActivity"
            android:label="@string/title_activity_negative"
            android:screenOrientation="landscape">
        </activity>
        <service
            android:name=".services.ArduinoCommunicatorService"
            android:enabled="true" />
    </application>

</manifest>
